{% extends "layout.twig" %}

{% block content %}
<script>
    $(document).ready(function() {

        $('ul li.active').removeClass('active');
        $('.rechercher').addClass('active');

});
</script>

<style>
body{
 background: url("/usedCars/app/views/front/images/background1.jpg") 100% 0% no-repeat;
background-attachment: fixed;
    margin: 0;


}
.ftco-navbar-light{
    top:0;
}
.cntr{
    background-color: rgba(245, 245, 245, 0.950);
    width: 80%;
    margin:auto ;
    padding-top: 20px;
    height: auto;

}
.annonce{
    border-top: rgba(161, 159, 159, 0.609) solid 1px;
    border-bottom: rgba(161, 159, 159, 0.609) solid 1px;
    width: 80%;
    height: 165;
    margin: auto;
        display:flex;
cursor: pointer;
margin-bottom : 3px;
}
.annonce:hover{
    background-color : rgba(161, 159, 159, 0.709)
}

.img{
    width: 200;
    height: 150;
        margin-top: 4px;
}
div.titre { 
    margin: 10px;

}
div.Desc{
    margin: 10px;
    width: 430px;
    height: 120px
    ;}
.color-black{
    color: black;
}
div.Desc h5{
    margin: 0;
}
.td{
    width: 510px;
}
.textAnnonce{
    background-color: 
rgb(41, 185, 123);      height: auto;
    color: white;
    width: 80%;
    margin:auto ;
}
#ftco-navbar{
    margin-bottom: 0;
}
.textAnnonce h2{
    margin: 0;
    color: white;
}
.textAnnonce h1{
    margin: 0;
    color: white;
}
div.titre{
    margin-top: 50;
    width:400px;

}
div.prix{
    margin-left: 22px;
        margin-top: 50;
}
div.date{
 margin-top: 50;
    margin-right: 40px;
    height: auto;
    width: 120;
    text-align: center;
}


.form{
    margin-left: 10px;
}
</style>

<div class="cccc">
<div class="textAnnonce">
    <h1 style="text-align: center;" >Site d'annonces des voitures au Maroc</h1>
    <h2 style="text-align: center;">Trouver la bonne {{ v }} affaire </h2>
     </br>
    <form class="form" action="/usedCars/public/index.php/Rechercher" method="post">
    <label style="    text-align: center;
    width: 25%;  font-size:17px;">Prix :</label>
    <label style="    text-align: center;
    width: 25%;  font-size:17px;"> Marque :</label>
      <label style="    text-align: center;
    width: 25%;  font-size:17px;"> ville :</label>
    </br>
    <input type="radio" name="prix" value="desc">
    <label for="desc" style=" width: 16%; ">descendant</label>
    <input type="radio" name="prix" checked = true; value="asc">
    <label for="asc"  style=" width: 15%;">ascendant</label>
    <select name="marque" style=" width: 15%; margin-right:11%;">
    <option value="x">

         </option>
         {% for v in req %}
        
                <option value="{{ v[0] }}">
                    {{ v[1] }}
                </option>
                {% endfor %}
       </select >
    <select name="ville" style=" width: 15%; margin-right:11%;">
    <option value="x">

         </option>
         {% for v in ville %}
        
                <option value="{{ v[0] }}">
                    {{ v[1] }}
                </option>
                {% endfor %}
       </select >
    <input type="submit" class="btn btn-primary"  value="Rechercher">
    </form>
    </div>
<div class="cntr">
<h2 style="margin-left:10px">Les derniere annonces :</h2>
  {% for t in req1 %}

    <div class="annonce color-black" onclick="window.location='/usedCars/public/index.php/AfficherAnnonce?idAnn={{t[4]}}'";>
        <div class="date ">
            {{t[5]}}
        </div>
           <div class="img">
                <img class="img" src="/usedCars/public/photos/{{t[6]}}">

        </div>
        <div class="titre">
                                        <h5> {{t[0]}} </h5>
                    {{t[2]}} 


        </div>
        <div class="prix">
                                        <label >Prix : </label>  {{t[3]}}  Dh  </br>
                                        <img src="/usedCars/app/views/front/images/view1.png"style="width:22px"> {{t[7]}} vue 

        </div>
    </div>
    {% endfor %}

</div>
</div>
<script>
    $(document).ready(function() {

       

        $('ul li.active').removeClass('active');
        $('.rechercher').addClass('active');

});
</script>
{% endblock  %}